/* galvene, kājene */
.header {
    height: 71px;
    background-color: #5555FF;
    padding: 22px 0px 0px 30px;
    position: sticky;
    top: 0;
    text-align: right;
}

.pogas {
    margin-right: 100px;
}

.footer {
    height: 71px;
    background-color: #FF6998;
    margin-top: 130px;
    justify-content: center;
    text-align: left;
}
/* ---- */

body {
    font-family: "Roboto Flex", sans-serif;
}

/* sākuma pogas */
.poga {
    border: solid 1px white;
    background-color: #7B7BE4;
    padding: 2px 7px 2px 7px;
    margin-right: 25px;
}
/* ---- */

.sanuMala {
    background-color: #BCD5FF;
    color: #BCD5FF;
    width: 30px;
    height: 100%;
  position: fixed;
}

.sanuMala2 {
    background-color: #BCD5FF;
    margin-left: 98.6%;
    color: #BCD5FF;
    width: 30px;
    height: 100%;
  position: fixed;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

/* visi virsraksti */
h2 {
    margin-top: 140px;
    margin-bottom: 80px;
    text-align: center;
    color: #7B7BE4;
    font-weight: 700;
}

.v2 {
    margin-bottom: 80px;
    text-align: center;
    color: #5DBFBA;
    font-weight: 700;
}

.v3 {
    margin-bottom: 60px;
    text-align: center;
    color: #E0215E;
    font-weight: 700;
}

.virsraksts {
    background-color: #D0D0FD;
    width: 270px;
    text-align: center;
    font-weight: 450;

}

.virsraksts2 {
    background-color: #C3E7E6;
    width: 270px;
    text-align: center;
    font-weight: 450;
    
}
/* ---- */

/* parastais teksts */
.teksts {
text-align: center;
width: 270px;
background-color: #F8F8F8;
height: 190px;
text-align: left;
font-weight: 350;
}

.teksts2 {
text-align: center;
width: 270px;
background-color: #F8F8F8;
height: 130px;
text-align: left;
font-weight: 350;
}

.teksts3 {
width: 580px;
background-color: #F8F8F8;
height: 170px;
text-align: left;
font-weight: 350;


}

p {
margin: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 350;
}

.autortiesibas {
text-align: right;
vertical-align: middle;
color: white;
font-weight: 350;
margin-right: 40px;

}
/* ---- */


.partraukums {
    height: 4px;
    background-color: #7E9EFF;
    margin-top: 200px;
    margin-bottom: 150px;
}

.partraukums2 {
    height: 4px;
    background-color: #FFA3C0;
    margin-top: 200px;
    margin-bottom: 150px;
}


/* visi atteli */
img {
    width: 270px;
    height: 200px;
    margin-top: 10px;
}

.attels {
    width: 450px;
    height: 300px;
}

.attels2 {
    width: 30px;
    height: 29px;
    margin-right: 5px;
    margin-left: 50px;
}

#carouselExample {
    margin-top: 30px;
    justify-content: center;
}
/* ---- */